In [1]:
import numpy as np
import pandas as pd

In [2]:
rgi_regions = [11,13,14,15]

In [3]:
path = '../data/match_geodetic_smb_fl.txt'
file = open(path)
lines = file.readlines()

In [4]:
shift = lines[0::4]
shift = [s.split()[-1] for s in shift]
obs = lines[1::4]
obs = [o.split()[-1] for o in obs]
smb = lines[2::4]
smb = [mb.split()[-1] for mb in smb]

In [5]:
fl = pd.DataFrame(data=[obs, smb, shift], columns=rgi_regions, index=['obs', 'smb_fl', 'shift_fl',]).T
fl

        obs               smb_fl            shift_fl
11  -873.67  -1608.3791192005717   734.7091192005718
13  -248.81    -515.433279371977  266.62327937197705
14  -157.84   -498.8117294889212  340.97172948892114
15  -505.65   -739.5636298622824   233.9136298622824

In [6]:
path = '../data/match_geodetic_smb_vas.txt'
file = open(path)
lines = file.readlines()

In [7]:
shift = lines[0::4]
shift = [s.split()[-1] for s in shift]
obs = lines[1::4]
obs = [o.split()[-1] for o in obs]
smb = lines[2::4]
smb = [mb.split()[-1] for mb in smb]

In [20]:
vas = pd.DataFrame(data=[obs, smb, shift], columns=rgi_regions, index=['obs', 'smb_vas', 'shift_vas']).T
vas

       obs      smb_vas   shift_vas
11 -873.67 -1590.465365  716.795365
13 -248.81  -493.029641  244.219641
14 -157.84  -522.182829  364.342829
15 -505.65  -682.848204  177.198204

In [21]:
match_smb = pd.concat([vas,fl.drop('obs', axis=1)], axis=1)
match_smb = match_smb.astype(float)

In [24]:
print(match_smb.to_latex(float_format="{:.0f}".format))

\begin{tabular}{lrrrrr}
\toprule
{} &  obs &  smb\_vas &  shift\_vas &  smb\_fl &  shift\_fl \\
\midrule
11 & -874 &    -1590 &        717 &   -1608 &       735 \\
13 & -249 &     -493 &        244 &    -515 &       267 \\
14 & -158 &     -522 &        364 &    -499 &       341 \\
15 & -506 &     -683 &        177 &    -740 &       234 \\
\bottomrule
\end{tabular}